// Variable
$primary: #ED3237;
$text-dark: #000;
$text-link: #2D9CDB;

.container-fluid {
  padding-right: 35px;
  padding-left: 35px;
}
// Navigation Bar
.navbar-nav {
  .text-link.nav-link {
    color: $text-link !important;
  }
  .nav-link {
    color: black !important;
    font-weight: 400;
    transition: all .2s ease;
    &:hover {
      color: $primary !important;
    }
  }
  .nuxt-link-exact-active, .nuxt-link-active {
    color: $primary !important;
  }
}

.main-content {
  margin-top: 6em;
}

// Hero Section
.hero-section {
  .container-fluid {
    padding: 0 2rem;
    .jumbotron {
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@media (max-width: 578px) {
  // Hero Section
  .main-content {
    margin-top: 3.5em;
  }
  .hero-section {
    .hero-section__jumbotron.container-fluid {
      padding: 0;
      .jumbotron {
        img {
          width: 100%;
          height: 92vh;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

// Article
.article-card {
  .card-group {
    .card {
      .img-hover-zoom {
        overflow: hidden;
        img {
          transition: transform .7s ease;
        }
      }
      .card-title.h5 {
        color: $text-dark;
        font-weight: 500;
      }
      .card-text {
        font-weight: 300;
        color: $text-dark;
        margin-top: 10px;
      }
    }
  }

  &:hover {
    .card-group {
      cursor: pointer;
      .card {
        .img-hover-zoom {
          overflow: hidden;
          img {
            transform: scale(1.15);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  // Article Card
  .card-group {
    .card {
      img {
        height: 180px !important;
        object-fit: cover;
        border: 1px solid #C4C4C4;
      }
    }
  }
}

// Article Detail
.article-detail {
  .article-detail__title {
    font-size: 32px;
    font-weight: 500;
  }
  .article-detail__sub-title {
    font-size: 22px;
    font-weight: 300;
  }
  .article-detail__description {
    font-size: 18px;
    font-weight: normal;
  }
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

// Tiptap Editor
.tiptap-editor {
  height: 27rem;
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 0.25rem;
  overflow: auto;
}

.btn.is-active {
  background: #e4f7ff;
}

.ProseMirror.ProseMirror-focused:focus-visible {
  outline: 0 !important;
}