<template>
  <b-container fluid class="my-5">
    <b-row class="justify-content-center">
      <b-col md="9">
        <b-form @submit.prevent="submit">
          <b-row>
            <b-col cols="12" md="6">
              <div class="form__title">
                <h4>Create a New Article</h4>
              </div>
              <b-form-row>
                <b-form-group class="col-md-12">
                  <label for="title">Title</label>
                  <input v-model="formData.title" type="text" class="form-control" placeholder="Enter your Article Title" required>
                </b-form-group>
                <b-form-group class="col-md-12">
                  <div class="tiptap-editor">
                    <editor-menu-bar v-slot="{ commands, isActive }" :editor="editor">
                      <div class="menubar mb-2">
                        <b-button variant="white" size="sm" class="menubar__button" :class="{ 'is-active': isActive.bold() }" @click="commands.bold">
                          <b-icon icon="type-bold" font-scale="1" />
                        </b-button>
                        <b-button variant="white" size="sm" class="menubar__button" :class="{ 'is-active': isActive.italic() }" @click="commands.italic">
                          <b-icon icon="type-italic" font-scale="1" />
                        </b-button>
                        <b-button variant="white" size="sm" class="menubar__button" :class="{ 'is-active': isActive.underline() }" @click="commands.underline">
                          <b-icon icon="type-underline" font-scale="1" />
                        </b-button>
                      </div>
                    </editor-menu-bar>
                    <editor-content v-model="formData.description" :editor="editor" />
                  </div>
                </b-form-group>
              </b-form-row>
            </b-col>
            <b-col cols="12" md="6">
              <div class="form__title">
                <h4>Publication Detail</h4>
              </div>
              <b-form-row>
                <b-form-group class="col-md-12">
                  <label for="short-description">Short Description</label>
                  <textarea id="short-description" v-model="formData.short_description" class="form-control" name="short-description" cols="30" rows="8" placeholder="Enter your Article Short Description" />
                </b-form-group>
                <b-form-group class="col-md-12">
                  <label for="thumbnail">Thumbnail</label>
                  <b-form-file v-model="formData.image" />
                </b-form-group>
                <b-form-group class="col-md-12">
                  <label for="categories">Categories</label>
                  <b-form-select v-model="formData.category_id">
                    <template #first>
                      <b-form-select-option :value="null" disabled>
                        Select Category
                      </b-form-select-option>
                    </template>
                    <b-form-select-option v-for="item in articleCategory" :key="item.id" :value="item.id">
                      {{ item.title }}
                    </b-form-select-option>
                  </b-form-select>
                </b-form-group>
                <b-form-group class="col-md-12">
                  <div class="d-flex align-items-center justify-content-between">
                    <label for="categories">Published</label>
                    <b-form-checkbox v-model="formData.is_visible" switch size="lg" />
                  </div>
                </b-form-group>
                <b-form-group class="col-md-12">
                  <b-button type="submit" variant="danger" size="md" class="d-none d-md-block">
                    Publish
                  </b-button>
                  <b-button type="submit" variant="danger" size="md" block class="d-md-none">
                    Publish
                  </b-button>
                </b-form-group>
              </b-form-row>
            </b-col>
          </b-row>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
import { Bold, Italic, Underline } from 'tiptap-extensions'
import ArticleService from '@/services/article/index.service'

export default {
  name: 'Create',
  components: {
    EditorContent,
    EditorMenuBar
  },
  middleware: 'menu',
  data () {
    return {
      editor: null,
      formData: {
        title: '',
        description: '',
        short_description: '',
        image: null,
        category_id: '',
        is_visible: false
      },
      articleCategory: []
    }
  },

  mounted () {
    this.getArticleCategory()
    this.editor = new Editor({
      content: this.value,
      extensions: [
        new Bold(),
        new Italic(),
        new Underline()
      ],
      onUpdate: () => {
        this.formData.description = this.editor.getHTML()
      }
    })
  },

  beforeDestroy () {
    this.editor.destroy()
  },

  methods: {
    submit () {
      ArticleService.postArticle(this.formData)
      .then(() => {
        this.$toast.success('Successfully Saved!', {
          pauseOnFocusLoss: false,
          pauseOnHover: false
        })
      })
      .catch(() => {
        this.$toast.error('Failed to Save!', {
          pauseOnFocusLoss: false,
          pauseOnHover: false
        })
      })
    },

    getArticleCategory () {
      ArticleService.getArticleCategory()
      .then((response) => {
        this.articleCategory = response.data.content
      })
      .catch(() => {
        this.articleCategory = []
      })
    }
  }
}
</script>
