<template>
  <!-- Footer Start -->
  <footer class="bg-danger py-4 w-100 mt-5">
    <b-container fluid>
      <h6 class="mb-0 text-white">
        Copyright &copy; Sahaware Assessment 2022
      </h6>
    </b-container>
  </footer>
  <!-- Footer End -->
</template>
