<template>
  <div>
    <Topnav />
    <div class="main-content" :style="'min-height:' + window.height + 'px'">
      <Nuxt />
    </div>
    <Footer />
  </div>
</template>

<script>
export default {
  name: 'TopNav',
  data () {
    return {
      window: {
        height: 0
      }
    }
  },

  beforeMount () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
  },

  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },

  methods: {
    handleResize () {
      this.window.height = window.innerHeight - 205
    }
  }
}
</script>
