<template>
  <b-col cols="12" lg="9" class="mx-auto">
    <Article :meta="meta" />
  </b-col>
</template>

<script>
export default {
  data () {
    return {
      meta: {
        filter: '',
        size: 100,
        page: 1
      }
    }
  }
}
</script>
